@keyframes winnerAnim{
    0% {color: red}
    25% {color: green}
    50% {color: blue}
    75% {color:orange}
}
body{
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    
}

#game{
    background-color: white;
    border: 1px solid red;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.rows{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}


.cell{
    border: 1px solid red;
    font-size: 3em;
    padding: 2px;
    
}

#resetBtn{
    margin: 20px;
    font-size: 2em;
}

#winDisplay{
    animation-name: winnerAnim;
    animation-duration: 2s;
    animation-iteration-count: infinite;

    font-size: 2em;
}