body{
    background-color: antiquewhite;
}

#game{
    background-color: white;
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    
}