body{
    background-color: antiquewhite;
}

#game{
    background-color: white;
    border: 1px solid red;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.rows{
    display: flex;
    gap: 10px;
}

.cell{
    border: 1px solid red;
    font-size: 1.2rem;
    padding: 2px;
}